---
name: Test action
on:
  workflow_call:
    inputs:
      files:
        type: string
        description: "Fixed files"
        required: false
jobs:
  test-action:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions: {}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: ./
        with:
          fix: true
          github_token: ${{github.token}}
          files: ${{inputs.files}}
